@font-face {
    font-family: 'Monteserrat';
    src: url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Agdasima:wght@400;700&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
}

h1 {
    font-family:'Monteserrat', 'Arial';
    color:rgb(34, 7, 192);
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;
}

form {
    text-align:center;
   
}

footer {
    text-align:center;
    font-style:italic;

}

/* note to self: font-face for Monteserrat is not working - make sure you sort this*/

body {
    background-image: url('background image.jpg');
    background-size: cover;
    margin-top: 300px;
}

.questionText {
    font-family: 'Arial';
    font-size: 50px;
    color: white;
}

input {
    width:250px;
    height:30px;
    margin-bottom:10px;
}

button {
    height:50px;
    width:130px;
    font-size: 20px;
    background-color: rgb(130, 130, 243);
    border-color:rgb(130, 130, 243);
}

#goBack {
    
}